.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  width: 100%;
  margin-top: 20px;
}
#tweets {
  overflow: scroll;
  height: 600px;
}
.card .badge {
  margin-right: 5px;
}

.alert img {
  border: 3px solid #9cc1d3;
  border-radius: 50%;
  margin-right: 5px;
  width: 50px;
  left: 0;
}
